$background:#77a4db;

// Header Variable
$header-width:90%;
$header-radius:10px;
$header-border:#cecece;
$header-color:#5f72cd;
$header-height:50px;


//Pop-up Variables

$popup-background:#cedff3;
$popup-height:500px;


